select {
    font: inherit;
}

#garden{
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

#menu-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    border: .5em black solid;
}

.shovel-cursor{
    cursor: url(MediumShovel.png) 32 64, auto;
}
.seed-cursor{
    cursor: url(MediumSeed.png) 32 64, auto;
}

.bucket-cursor{
    cursor: url(MediumBucket.png) 32 64, auto;
}

.hoe-cursor{
    cursor: url(MediumGardenHoe.png) 32 64, auto;
}

::-webkit-scrollbar {
    display: none;
}